<header class="public-header">
    <ul class="content">
        <li class="content-item">
            <a href=""><img src="http://static.nodejs.cn/_static/img/logo.svg" height="30" alt=""></a>
        </li>
        <li class="content-item">
            <a href="">商品管理</a>
        </li>
        
    </ul>
    <ul class="content">
        <li class="content-item">
            <a href="">欢迎您的到来</a>
            
        </li>
        <li class="content-item">
            <a href="">退出时请点击安全退出，保障您的账户安全</a>
            
        </li>
        
        <li class="content-item">
            <a href="http://172.21.2.236:10126">安全退出</a>
        </li>
    </ul>
</header>